In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

Frame the Problem
----

In [8]:
# methods

def load_data():
    """
    Loads the data from the csv files and creates a column for ticker
    """
    data = pd.DataFrame()
    for root, dirs, files in os.walk('./data'):
        for file in files:
            if file.endswith('.csv'):
                df = pd.read_csv(os.path.join(root, file))
                df['ticker'] = file.split('.')[0]
                data = data.append(df)
    return data

In [9]:
load_data()

,Date,Open,High,Low,Close(t),Volume,SD20,Upper_Band,Lower_Band,S_Close(t-1),...,QQQ_MA20,QQQ_MA50,SnP_Close,SnP(t-1)),SnP(t-5),DJIA_Close,DJIA(t-1)),DJIA(t-5),Close_forcast,ticker
0,2010-10-18,165.00,165.19,161.82,163.56,6331300,3.770297,164.383594,149.302406,164.64,...,44.8280,42.6302,1184.71,1176.19,1165.32,11143.69,11062.78,11010.34,158.67,AMZN
1,2010-10-19,160.68,162.80,157.00,158.67,7525000,3.501162,164.242324,150.237676,163.56,...,44.9185,42.6998,1165.90,1184.71,1169.77,10978.62,11143.69,11020.40,158.67,AMZN
2,2010-10-20,158.78,159.87,156.57,158.67,5790400,3.271424,164.124849,151.039151,158.67,...,45.0315,42.7834,1178.17,1165.90,1178.10,11107.97,10978.62,11096.08,164.97,AMZN
3,2010-10-21,162.67,166.13,161.29,164.97,13482500,3.465530,165.119061,151.256939,158.67,...,45.1500,42.8918,1180.26,1178.17,1173.81,11146.57,11107.97,11094.57,169.13,AMZN
4,2010-10-22,162.45,170.17,162.27,169.13,16318400,4.217293,167.042587,150.173413,164.97,...,45.2395,43.0130,1183.08,1180.26,1176.19,11132.56,11146.57,11062.78,169.00,AMZN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727,2020-08-07,452.82,454.70,441.17,444.45,49453300,27.954399,455.316298,343.498702,454.79,...,263.4085,252.2098,3351.28,3349.16,3271.12,27433.48,27386.98,26428.32,450.91,AAPL
3728,2020-08-10,450.40,455.10,440.00,450.91,53100900,29.847338,462.586675,343.197325,444.45,...,263.9970,252.9570,3360.47,3351.28,3294.61,27791.44,27433.48,26664.40,437.50,AAPL
3729,2020-08-11,447.88,449.93,436.43,437.50,46975600,30.576290,466.543079,344.237921,450.91,...,264.2380,253.5878,3333.69,3360.47,3306.51,27686.91,27791.44,26828.47,452.04,AAPL
3730,2020-08-12,441.99,453.10,441.19,452.04,41486200,32.050532,472.583564,344.381436,437.50,...,264.7860,254.3206,3380.35,3333.69,3327.77,27976.84,27686.91,27201.52,460.04,AAPL
3731,2020-08-13,457.72,464.17,455.71,460.04,52520500,33.532634,479.279768,345.149232,452.04,...,265.4540,255.0446,3373.43,3380.35,3349.16,27896.72,27976.84,27386.98,459.63,AAPL